# Ejercicios Kata Modulo 8

In [24]:
# Ejercicio 1

def promedio(v1, v2, v3):
    prom = (v1 + v2 + v3)/3
    return prom


def nivelTanque(tanquno, tanqdos, tanqtres):
    print('Promedio de combustible: ', promedio(tanquno, tanqdos, tanqtres))
    print('Combustible tanque 1:', tanquno)
    print('Combustible tanque 2:', tanqdos)
    print('Combustible tanque 3:', tanqtres)


nivelTanque(50, 30, 85)

Promedio de combustible:  55.0
Combustible tanque 1: 50
Combustible tanque 2: 30
Combustible tanque 3: 85

In [27]:
# Ejercicio 2
def report(hr_pre, t_vl, dest, tan_o2, tan_int):
    print('Mision rumbo a:', dest)
    print('Tiempo total de viaje: ', hr_pre + t_vl, ' horas')
    print('Combustible restante: ', tan_o2 + tan_int, ' litros')

report(4, 2, 'Marte', 90, 150)

def report_m(dest, *hours, **fuel_reservoirs):
    print('Mision rumbo a:', dest)
    print('Tiempo total de viaje: ', sum(hours), ' horas')
    print('Combustible restante: ', sum(fuel_reservoirs.values()), ' litros')

report_m('Marte', 5, 2, tan1 = 90, tan2 = 150)

Mision rumbo a: Marte
Tiempo total de viaje:  6  horas
Combustible restante:  240  litros
Mision rumbo a: Marte
Tiempo total de viaje:  7  horas
Combustible restante:  240  litros